<div class="main-header">
    <h1 href="#" >Failte! Oder auch: Willkommen!</h1>
</div>
<div class="main-body">
        Endlich ist sie da, die Webseite, nach der ihr euch tagelang, fast wochenlang gesehnt habt.
        <br>
        <br>
        <div class="main-body big">Der Travelblog von Andrea und Philipp.</div>
        <br>
        Habt Spaß beim Lesen und Bilder anschauen, und bitte bitte versucht keine krummen Dinge. Wir sind uns nicht sicher, wie fehleranfällig diese Website ist...
        <br>
        <br>
        Lieben Dank an Markus, der uns durch die ganzen technischen Probleme geholfen hat!

</div>